body {
  background-color: #020617; /* Slate 950 base */
  color: #f8fafc;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #00041F; 
}

::-webkit-scrollbar-thumb {
  background: #1e293b; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0075FF; 
}
